/* Fontti */
html, body {
    font-family: 'Quicksand', sans-serif;
  }

/* Ilmaa osioiden väliin */
section {
    padding: 60px 0;
  }

/* Korttikuvien koot */
.card-img-top {
    height: 300px;
    object-fit: cover;
  }

/* Navigaation taustaväri */
.navbar {
    background-color: #F8FAE8;
  }

/* Bg-light-sävy. Important kirjoittaa Bootstrapin oman sävyn päälle. */
.bg-light {
  background-color: #fffdf0 !important; 
}

/* Buttonien rajaviivan väri */
.btn-outline-primary {
  border-color: #CCD5AE; 
}

/* Buttonien hover-tilan taustaväri ja teksti */
.btn-outline-primary:hover {
  background-color: #CCD5AE; 
  color: #282D1D; 
  border-color: #CCD5AE; 
}

/* Taulukon otsikkorivin taustaväri */
table thead th {
  background-color: #CCD5AE !important;
}

/* Aktiivisen haitariosion taustaväri ja rajaviiva */
.accordion-button:not(.collapsed) {
  background-color: #CCD5AE;
  border-color: #CCD5AE !important; 
  box-shadow: none !important; 
}

/* Suljetun haitariosion rajaviiva */
.accordion-button {
  border-color: #CCD5AE !important;
  box-shadow: none !important; 
}

/* Peruslinkin muotoilut */
a:link {
  color: #282D1D;
}

a:visited {
  color: #282D1D;
}

a:hover {
  color: #777959;
}

a:active {
  color: #777959;
}

/* Näkyvyys Ctrl+F:lle myös suljetuissa osioissa */
.accordion-collapse {
  display: block !important;     /* Estää DOMista piilottamisen */
}

.accordion-collapse:not(.show) {
  height: 0 !important;
  overflow: hidden !important;
  visibility: hidden;            /* Ei näy visuaalisesti */
  padding: 0 !important;
  margin: 0 !important;
}
